//Margins
.m-10 {
  margin: 1rem;
}
.m-15 {
  margin: 1.5rem;
}
.m-20 {
  margin: 2rem;
}
.m-x-10 {
  margin: 0 1rem;
}
.m-x-15 {
  margin: 0 1.5rem;
}
.m-x-20 {
  margin: 0 2rem;
}
.m-y-10 {
  margin: 1rem 0;
}
.m-y-15 {
  margin: 1.5rem 0;
}
.m-y-20 {
  margin: 2rem 0;
}
