@import "../../../styles/utils/colors";
@import "../../../styles/utils/shadows";

.language__switcher {
    display: inline-flex;
    align-items: center;

    & .language__btn {
        color: var(--color-text);
        font-weight: bolder;

        transform: translateY(1px);

        cursor: pointer;
    }
}
