@import "../../../styles/utils/borders";
@import "../../../styles/utils/colors.scss";
@import "../../../styles/utils/shadows.scss";

.white__panel {
    box-sizing: border-box;
    background-color: var(--color-primary);

    border-radius: 8px;
    border: 1px solid var(--color-border);

    // box-shadow: $mediumShadow;

    // overflow: hidden;
}
