@import '../../../styles/utils/colors';
.auth__container{
    width: 100vw;
    height: 100vh;  
    background:url('/images/auth/background.png');
    background-repeat: repeat;
    // background-size: 110%;
    background-color:$black;
    animation: animatedBackground 1000s linear infinite;
}
.auth__container__inner{
    width:95%;
    max-width:975px;
    height:100%;
    margin:0 auto;
}

