html {
    font-size: 10px;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
*,
body {
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    transition: all 0.15s ease;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #1a6dcf;
}
button {
    border: none;
    background-color: transparent;
}
textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-field);
    border: 1px solid var(--color-border);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--color-contrast);

    cursor: pointer;
}
