html{
    font-size:10px;
}
*,
body {
    margin: 0;
    padding: 0;
}
body{
    background-color: $lightGrey;
    font-family: 'Rubik', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:$blue;
}
