html{
    font-size:10px;
    box-sizing: border-box;
    &:focus {
        outline: none;
      }
}
*,
body {
    margin: 0;
    padding: 0;
}
body{
    background-color: $darkWhite;
    font-family: 'Rubik', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:$blue;
}
button{
    border:none;
    background:none;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
