html {
    font-size: 10px;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
*,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    transition: all 0.15s ease;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $blue;
}
button {
    border: none;
}
textarea:focus,
input:focus,
button:focus {
    outline: none;
}
