$lightGrey: #adadad;
$white: #ffffff;
$darkWhite: #f9f9f9;
$black: #030303;
$lightBlack: #1d1d1d;
$blue: #1a6dcf;
$red: #eb5757;
$lightRed: #ffebeb;
$darkGrey: #8a8a8a;
$yellow: #ffd369;
//gradients
$blackGradient: linear-gradient(315deg, #000000 0%, #414141 74%);
$blackRadialGradient: radial-gradient(#414141 0%, #000000 74%);
//ordered by components
$primary: $black;
$secondary: $darkGrey;

//dark theme
$darkPrimary: #1a1a1b;
$darkHover: #4e4e4e;
$darkInput: #252525;
$darkBackground: #030303;
$darkBorder: #343536;
$darkContrast: #ffd600;
$darkContrastRGB: 255, 214, 0;
$darkText: #eeeeee;
$darkTextLight: #939393;

//light theme
$lightPrimary: #ffffff;
$lightHover: #e9e9e9;
$lightInput: #e6e6e6;
$lightBackground: #f1f1f1;
$lightBorder: #edeff1;
$lightContrast: #ffd600;
$lightContrastRGB: 255, 214, 0;
$lightText: #222831;
$lightTextLight: #374150;

:root {
    --color-primary: #{$lightPrimary};
    --color-hover: #{$lightHover};
    --color-background: #{$lightBackground};
    --color-border: #{$lightBorder};
    --color-field: #{$lightInput};
    --color-contrast: #{$lightContrast};
    --color-contrast-rgb: #{$lightContrastRGB};
    --color-text: #{$lightText};
    --dark-text: #222831;
    --text-light: #{$lightTextLight};
}
.dark {
    --color-primary: #{$darkPrimary};
    --color-hover: #{$darkHover};
    --color-background: #{$darkBackground};
    --color-border: #{$darkBorder};
    --color-field: #{$darkInput};
    --color-contrast: #{$darkContrast};
    --color-contrast-rgb: #{$darkContrastRGB};
    --color-text: #{$darkText};
    --dark-text: #222831;
    --text-light: #{$darkTextLight};
}
