$lightGrey: #adadad;
$white: #ffffff;
$darkWhite: #f9f9f9;
$black: #030303;
$lightBlack: #1d1d1d;
$blue: #1a6dcf;
$red: #eb5757;
$lightRed: #ffebeb;
$darkGrey: #8a8a8a;
$yellow: #ffd369;
//gradients
$blackGradient: linear-gradient(315deg, #000000 0%, #414141 74%);
$blackRadialGradient: radial-gradient(#414141 0%, #000000 74%);
//ordered by components
$primary: $black;
$secondary: $darkGrey;

//dark theme
$darkPrimary: #1a1a1b;
$darkInput: #252525;
$darkBackground: #030303;
$darkBorder: #343536;
$darkContrast: #ffd600;
$darkText: #eeeeee;

//light theme
$lightPrimary: #ffffff;
$lightInput: #e6e6e6;
$lightBackground: #f1f1f1;
$lightBorder: #edeff1;
$lightContrast: #ffd600;
$lightText: #222831;

:root {
    --color-primary: #{$lightPrimary};
    --color-background: #{$lightBackground};
    --color-border: #{$lightBorder};
    --color-field: #{$lightInput};
    --color-contrast: #{$lightContrast};
    --color-text: #{$lightText};
    --dark-text: #222831;
}
.dark {
    --color-primary: #{$darkPrimary};
    --color-background: #{$darkBackground};
    --color-border: #{$darkBorder};
    --color-field: #{$darkInput};
    --color-contrast: #{$darkContrast};
    --color-text: #{$darkText};
    --dark-text: #222831;
}
