@import "../../../styles/utils/borders";
@import "../../../styles/utils/colors.scss";
@import "../../../styles/utils/shadows.scss";

.white__panel {
    box-sizing: border-box;
    background-color: var(--color-primary);

    border-radius: $panelsBRD;

    box-shadow: $mediumShadow;

    overflow: hidden;
}
