@import '../../../styles/utils/borders';
@import '../../../styles/utils/colors.scss';
@import '../../../styles/utils/shadows.scss';

.white__panel{
    box-sizing: border-box;
    background-color:$white;

    border-radius: $panelsBRD;

    box-shadow: $mediumShadow;
}