@import "../../../styles/utils/colors";
@import "../../../styles/utils/borders";
@import "../../../styles/utils/shadows";

$searchHeight: 58px;
.search {
    flex-grow: 1;
    margin: 0 15px;
    max-height: $searchHeight;
    & form {
        display: inline-flex;

        width: 100%;
        & .settings__btn__wrapper {
            margin-left: 15px;
        }
        & .settings__btn {
            height: $searchHeight;
            width: $searchHeight;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--color-contrast);
            color: var(--dark-text);

            border-radius: 100px;

            cursor: pointer;

            transition: box-shadow 0.2s ease;

            &:hover {
                box-shadow: 0 0 1px 4px rgba($yellow, 0.3);
            }

            & svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}
.search__field {
    height: 100%;
    width: 100%;

    display: inline-flex;
    flex-direction: row;

    position: relative;

    & input[type="search"] {
        height: $searchHeight;
        width: 100%;

        font-size: 18px;

        color: var(--color-text);

        background-color: rgba(#{var(--color-field-rgb)}, 0.7);

        border: 1px solid var(--color-border);
        border-radius: 37px;

        padding: 0 0 0 25px;

        box-shadow: none;

        transition: all 0.3s ease;

        backdrop-filter: blur(7px);

        position: relative;
        &:focus {
            background-color: rgba(#{var(--color-field-rgb)}, 1);
            box-shadow: $smallShadow;
            border-color: var(--color-contrast);
        }
    }

    & .search__btn {
        position: absolute;
        top: 1px;
        right: 1px;

        height: calc(100% - 2px);
        padding: 0 calc(#{$searchHeight} / 2);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-contrast);
        color: var(--dark-text);

        border-radius: 37px;
        box-sizing: border-box;

        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);

        cursor: pointer;

        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: 0 0 1px 4px rgba($yellow, 0.3);
        }

        & svg {
            font-size: 2.5rem;
        }
    }
}
