@import "../../../styles/utils/colors";
@import "../../../styles/utils/borders";
@import "../../../styles/utils/shadows";
.search {
    flex-grow: 1;
    margin: 0 15px;

    & form {
        display: inline-flex;

        width: 100%;
        & .settings__btn {
            height: 40px;
            width: 40px;

            margin-left: 15px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--color-contrast);
            color: var(--dark-text);

            border-radius: 100px;

            cursor: pointer;

            & svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}
.search__field {
    height: 100%;
    width: 100%;

    display: inline-flex;
    flex-direction: row;

    position: relative;

    & input[type="search"] {
        height: 40px;
        width: 100%;

        font-size: 18px;

        background-color: var(--color-field);

        border: 1px solid var(--color-border);
        border-radius: 37px;

        padding: 0 0 0 15px;

        box-shadow: none;

        transition: all 0.3s ease;

        position: relative;
        &:focus {
            background-color: $white;
            box-shadow: $smallShadow;
        }
    }

    & .search__btn {
        position: absolute;
        top: 1px;
        right: 1px;

        height: calc(100% - 2px);
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-contrast);
        color: var(--dark-text);

        // border: 1px solid var(--color-contrast);
        border-radius: 37px;
        box-sizing: border-box;

        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);

        cursor: pointer;

        & svg {
            font-size: 2.5rem;
        }
    }
}
