@import '../../../../styles/utils/media';
.grid__container{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr;
    @include media('sm'){
        grid-template-columns: minmax(300px,650px) minmax(300px,1fr);
    }
}